<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>LogIn</h3>
        <form class="form">
            <div class="form-group">
                <label for="">YourAM</label>
                <input [(ngModel)]="AM" name="AM" type="username">
                <label for="">YourGivenPassword</label>
                <input [(ngModel)]="unique_id" name="unique_id" type="password">

            </div>
            <button (click)="loginT()"  class="btn btn-primary">Login <i class="fas fa-sign-in-alt"></i></button>

        </form>
    </div>
</div>
