{
     padding: 0;
     background-color: rgb(128, 128, 0);
     background-size: cover;
     background-position: absolute;
    font-family: 'sans-serif';
    top: 300px;
    left: 100px;
}
h1 {
    margin: -40px;
    position: center;
    text-align: center;
    padding: 0 0 80px;
}
.loginbox{
    width: 320px;
    height: 370px;
    background: rgb(218, 247, 166);
    color: black;
    left: 50%;
    position: absolute;
    top: 400px;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 40px;
}
.loginbox p{
    margin: 0px;
    padding: 10px 00px 10px;
    font-weight: bold;
    font-size: 22px;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    height: -20px;
    transition: all 0.2s ease-in-out;
}
.loginbox input[type="text"], input[type="am"]
{
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 18px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    outline-color: black;
    height: 40px;
    background: rgb(128, 128, 0);
    color: black;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:rgb(218, 247, 166);
    color: black;
}
