<ngs-code-editor
  theme="vs-dark"
  [codeModel]="codeModel"
  [ngStyle]="{'height': '600px'}"
  [options]="options">
</ngs-code-editor>
<div>
  <form class="form">
    <button (click)="onSubmit(codeModel.value)"class="btn btn-primary">Submit <i class="fas fa-sign-in-alt"></i></button>



  </form>
</div>


