<form class="form">
            <div class="form-group">
                <label for="">Prepare yourself to</label>
            </div>
<a routerLink="/exam"><button class="btn btn-success pull-right" >Start</button></a>
</form>

